---
- name: Include OS specific variable.
  when: ansible_facts['os_family'] == "Darwin"
  include_vars:
    file: macos.yaml

- name: Install Clam Anti-Virus (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  homebrew:
    name: clamav
    state: latest

- name: Generate Clam Anti-Virus signatures database configuration (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.shell:
    cmd: "clamconf -g freshclam.conf > {{ freshclam.configfile.path }}"
    creates: "{{ freshclam.configfile.path }}"

- name: Enable Clam Anti-Virus signatures database configuration (macOS).
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: "{{ freshclam.configfile.path }}"
    regexp: "^#DatabaseMirror database.clamav.net$"
    line: "DatabaseMirror database.clamav.net"

- name: Enable Clam Anti-Virus freshclam configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: "{{ freshclam.configfile.path }}"
    state: absent
    regexp: "{{ item }}"
  loop:
    - "^# Comment out or remove the line below."
    - "^Example"

- name: Generate Clam Anti-Virus clamd configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.shell:
    cmd: "clamconf -g clamd.conf > {{ clamd.configfile.path }}"
    creates: "{{ clamd.configfile.path }}"

- name: Enable Clam Anti-Virus clamd configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: "{{ clamd.configfile.path }}"
    state: absent
    regexp: "{{ item }}"
  loop:
    - "^# Comment out or remove the line below."
    - "Example"

- name: Update Clam Anti-Virus signatures database (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.command:
    cmd: "freshclam"
