---
- name: Include OS specific variable.
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.include_vars:
    file: macos.yaml

- name: Install Clam Anti-Virus (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  community.general.homebrew:
    name: clamav
    state: present

- name: Generate Clam Anti-Virus signatures database configuration (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.shell:
    cmd: 'clamconf -g clamav_freshclam.conf > {{ clamav_freshclam.configfile.path }}'
    creates: '{{ clamav_freshclam.configfile.path }}'

- name: Enable Clam Anti-Virus signatures database configuration (macOS).
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: '{{ clamav_freshclam.configfile.path }}'
    regexp: '^#DatabaseMirror database.clamav.net$'
    line: 'DatabaseMirror database.clamav.net'

- name: Enable Clam Anti-Virus freshclam configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: '{{ clamav_freshclam.configfile.path }}'
    state: absent
    regexp: '{{ item }}'
  loop:
    - '^# Comment out or remove the line below.'
    - '^Example'

- name: Generate Clam Anti-Virus clamd configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.shell:
    cmd: 'clamconf -g clamav_clamd.conf > {{ clamav_clamd.configfile.path }}'
    creates: '{{ clamav_clamd.configfile.path }}'

- name: Enable Clam Anti-Virus clamd configuration file (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.lineinfile:
    path: '{{ clamav_clamd.configfile.path }}'
    state: absent
    regexp: '{{ item }}'
  loop:
    - '^# Comment out or remove the line below.'
    - 'Example'

- name: Update Clam Anti-Virus signatures database (macOS)
  when: ansible_facts['os_family'] == "Darwin"
  ansible.builtin.command:
    cmd: 'freshclam'
    creates: /opt/homebrew/var/lib/clamav
