- name: Run terminal role tasks (macOS).
  when: ansible_facts['os_family'] == "Darwin"
  include_tasks: macos.yaml

- name: Query installed Micro text-editor extensions (cross-platform)
  ansible.builtin.command:
    cmd: 'micro -plugin list'
  register: micro_plugins_list
  failed_when: false

- name: Install Micro text-editor extensions (cross-platform)
  ansible.builtin.command:
    cmd: 'micro -plugin install {{ extension.id }}'
  loop: '{{ micro.extensions }}'
  loop_control:
    loop_var: extension
  when: micro_plugins_list.stdout is defined and (extension.id not in micro_plugins_list.stdout)
